extends layout.pug

block content
	.jumbotron.bg-dark.no-border-radius.text-light
		.container
			h2.display-3.lato-hairline Commands
	.container
		center
			for category in commands
				h2.lato-light #{category.category}
				for command in category.commands
					code #{command.usage}
					br
					p #{command.description}
					br
				if commands.indexOf(category) !== commands.length - 1
					hr