extends layout.pug

block content
	.jumbotron.bg-dark.no-border-radius.text-light.padding-bottom-120
		.container
			img.rounded.float-left.bot-avatar(src="/assets/img/prisma.jpg")
			h2.display-2.lato-hairline R2-D2
			h4.display-5.lato-light
				| The 
				s The bot
				|  Not the bot you're looking for.
	.container
		.row
			.col-lg-2
				img.rounded.feature(src="/assets/img/disc.png")
			.col-lg-10
				h1.lato-light Music
				p Prisma has music capabilities, so everyone in your Discord server can enjoy some sick beats.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/assets/img/flag.png")
			.col-lg-10
				h1.lato-light Levels &amp; XP
				p With the latest XP features, no one in your server will feel left out. Features include XP per message, leveling system, and custom images for your profile.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/assets/img/layers.png")
			.col-lg-10
				h1.lato-light Fun Commands
				p Prisma comes straight-out-of-the-box with fun commands, of which include the classic Connect 4, Cleverbot, Urban Dictionary, and even a Fidget Spinner.
		.row.margin-top-40
			.col-lg-2
				img.rounded.feature(src="/assets/img/camera.png")
			.col-lg-10
				h1.lato-light Image Manipulation
				p Ever thought of changing an image directly within Discord? Well now you can! Prisma can blur, rotate, change the contrast, implode, invert, or grayscale an image. Does your Dyno bot do that?
		.row.margin-top-40.margin-bottom-40
			.col-lg-2
				img.rounded.feature(src="/assets/img/forbidden.png")
			.col-lg-10
				h1.lato-light Moderation &amp; User Management
				p Remember those nerds who jump right into your server, and instantly start spamming Discord invite links? Well not anymore! Prisma includes the latest and greatest features in moderation technologies.
