doctype html
html
	head
		title R2-D2
		link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
		link(rel="stylesheet" href="/assets/css/lato.css")
		link(rel="stylesheet" href="/assets/css/style.css")
		<!-- Global site tag (gtag.js) - Google Analytics -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-104913718-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag("js", new Date());

			gtag("config", "UA-104913718-1");
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			.container
				a.navbar-brand(href="/") Prisma
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				#navbar.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href="/")
								| Home
						li.nav-item
							a.nav-link(href="/commands")
								| Commands
						li.nav-item
							a.nav-link(href="/statistics")
								| Statistics
					ul.navbar-nav.navbar-right
						if user
							li.nav-item
								a.nav-link(href="/dashboard")
									| Dashboard
							li.nav-item
								a.nav-link(href="/auth/logout")
									| Log out
						else
							li.nav-item
								a.nav-link(href="/dashboard")
									| Dashboard
						li.nav-item
							a.nav-link(href="/invite") Invite
						li.nav-item
							a.nav-link(href="https://github.com/Sikksens" target="_blank") GitHub
		block content
	script(type="text/javascript" src="/assets/js/jquery-3.2.1.min.js")
	script(type="text/javascript" src="/assets/js/popper.min.js")
	script(type="text/javascript" src="/assets/js/bootstrap.min.js")
	block scripts
