extends ../layout.pug

block content
	.jumbotron.bg-dark.no-border-radius.text-light
		.container
			h2.display-4.lato-hairline Select a Server
			if servers.length
				if servers.length == 1
					p.lato-medium 1 server
				else
					p.lato-medium #{servers.length} servers
			else
				p.lato-medium No servers
	.container
		.list-group
			for server in servers
				a.list-group-item.list-group-item-action.align-middle(href="/prisma/dashboard/" + server.id)
					img.rounded.float-left.server-icon(src="https://cdn.discordapp.com/icons/" + server.id + "/" + server.icon + "?size=2048")
					h4 #{server.name}