extends ../layout.pug

block content
	.jumbotron.bg-dark.no-border-radius.text-light
		.container
			h2.display-3.lato-hairline #{server.name}
	.container
		center
			.d-flex.justify-content-around
				.p-2
					h1.lato-light Members
					h3.lato-medium #{server.memberCount}
				.p-2
					h1.lato-light Channels
					h3.lato-medium #{server.channelCount}
				.p-2
					h1.lato-light Roles
					h3.lato-medium #{server.roleCount}
			br
			br
			h1.display-1.lato-hairline Under Construction
			h4.display-4 There isn't much to see here 👀